@charset "utf-8";
body {
	width：100%;
	height: 800px;
	background:-webkit-gradient(linear, 1% 0, 100% 0, color-stop(0,rgba(153,210,144,1)), color-stop(0.5,rgba(194,214,188,1)), color-stop(1,rgba(208,216,203,1)));
	background:-moz-linear-gradient(0px 0px 0deg, rgba(153,210,144,1) 0, rgba(194,214,188,1) 50%, rgba(208,216,203,1) 100%);
	background:-o-linear-gradient(left, rgba(153,210,144,1) 0%,rgba(194,214,188,1) 50%,rgba(208,216,203,1) 100%);
	background:-ms-linear-gradient(left, rgba(153,210,144,1) 0%,rgba(194,214,188,1) 50%,rgba(208,216,203,1) 100%);
	background:linear-gradient(left, rgba(153,210,144,1) 0%,rgba(194,214,188,1) 50%,rgba(208,216,203,1) 100%);
}

.handWrap {position: relative; width:265px; height: 250px; margin: 300px auto;}
.handWrap * {box-sizing: border-box;}
.arm {position: absolute; left: 0; top: 30px; width:118px; height:120px; background-color: #f3c5ad; border-top: 2px solid #d6946f; z-index: 10;}
.hand {position: absolute; left: 106px; top: 0; width: 110px; height: 180px; background-color: #f3c5ad; border: 2px solid #d6946f; border-right:0; border-top-left-radius: 20px;border-bottom-left-radius: 20px; z-index: 1;}
.fingerUl {position: absolute; left: 216px; top: 0; width:45px; height: 180px}
.fingerUl li {position: relative; width:25px; height: 45px; background-color: #f3c5ad; border-top: 2px solid #d6946f;} 
.fingerUl li:last-child {border-bottom: 2px solid #d6946f;}
.fingerUl li::after {position: absolute; right: -20px; top: -2px; content: ""; width: 20px; height: 43px; border: 2px solid #d6946f; border-left: 0; border-top-right-radius: 23px; border-bottom-right-radius: 23px; background-color: #f3c5ad; }
.fingerUl li:last-child::after {height: 41px;}
.fingernail, .joint {
	display: block; position: absolute; top:3px; right:-15px; width:30px; height: 36px; border-top-right-radius: 18px; border-bottom-right-radius: 18px; z-index: 25; 
	background:-webkit-gradient(linear, 1% 0, 100% 0, color-stop(0,rgba(244,203,182,.5)), color-stop(0.5,rgba(248,220,206,.8)), color-stop(1,rgba(250,229,219,1)));
	background:-moz-linear-gradient(0px 0px 0deg, rgba(244,203,182,.5) 0, rgba(248,220,206,.8) 50%, rgba(250,229,219,1) 100%);
	background:-o-linear-gradient(left, rgba(244,203,182,.5) 0%,rgba(248,220,206,.8) 50%,rgba(250,229,219,1) 100%);
	background:-ms-linear-gradient(left, rgba(244,203,182,.5) 0%,rgba(248,220,206,.81) 50%,rgba(250,229,219,1) 100%);
	background:linear-gradient(left, rgba(244,203,182,.5) 0%,rgba(248,220,206,.8) 50%,rgba(250,229,219,1) 100%);
}

.thumb {position: absolute;left: 111px; top: -46px; width: 90px;height: 45px;border: 2px solid #d6946f;border-bottom: 0;border-left: 0;background-color: #f3c5ad;border-top-right-radius: 23px;border-bottom-right-radius: 23px;transform: rotate(-60deg); -webkit-transform: rotate(-60deg); -moz-transform: rotate(-60deg); -ms-transform: rotate(-60deg); z-index: 30;}
.thumb .fingernail {right:2px;}
.joint {
	right:44px; width: 22px;
	background:-webkit-gradient(linear, 1% 0, 100% 0, color-stop(0,rgba(242,195,170,.5)), color-stop(0.5,rgba(237,184,157,.8)), color-stop(1,rgba(232,175,145,1)));
	background:-moz-linear-gradient(0px 0px 0deg, rgba(242,195,170,.5) 0, rgba(237,184,157,.8) 50%, rgba(232,175,145,1) 100%);
	background:-o-linear-gradient(left, rgba(242,195,170,.5) 0%,rgba(237,184,157,.8) 50%,rgba(232,175,145,1) 100%);
	background:-ms-linear-gradient(left, rgba(242,195,170,.5) 0%,rgba(237,184,157,.8) 50%,rgba(232,175,145,1) 100%);
	background:linear-gradient(left, rgba(242,195,170,.5) 0%,rgba(237,184,157,.8) 50%,rgba(232,175,145,1) 100%);
}	

.addNum {position: absolute; top: -115px; left: 60px; acolor:blue; font-size: 40px;}